body{
        font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: medium;
    margin: 0px 10% 0px 10%;
    line-height: 1.6;
    letter-spacing: 1px;

}

header{
    color: #4e2c1f;
    background-color: #eae4e0;
    padding: 10px 200px 10px 200px;
    font-family: "Petit Formal Script", cursive;
    font-weight: bold;
    font-style: normal; 
    padding: 20px 50px 20px 50px;
    margin: 5px auto 5px auto;
    max-width: 850px;
    border-radius: 10px;  
    text-align: center;
}
.obsah{
    padding: 20px 50px 20px 50px;
    margin: 5px auto 5px auto;
    max-width: 850px;
    border-radius: 10px;
    background-color:  #eae4e0;
    }
    
.vzdelani {
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 1px solid #4e2c1f;
    border-bottom: 1px solid #4e2c1f;
}
h2{
    color: #924506;
    font-family: "Petit Formal Script", cursive;
        font-weight: bold;
        font-style: normal;
      
}          
.osobni{
    background-color: #b7cbe2;
    font-size: larger;
    color: #032b5b;
    display: flex;  
    justify-content: space-between; /* Rozprostře prvky na kraje */
    align-items: center; /* Zarovnání na střed vertikálně */
    padding: 20px 50px 20px 50px;
    margin: 5px auto 5px auto;
    max-width: 850px;
    border-radius: 10px;
}
.udaj{
    text-align: center;
}
.osobni img{
    border-radius: 50%;
    width:210px;
    padding: 0%;
}
table{
    width: auto;
    border-collapse: separate;
    border-spacing: 35px 5px;
    padding-right: 0%;
}
ul{
    list-style-type: square;
    padding-left:80px;
    line-height: 1.8;
}

a{
    color: rgb(6, 60, 62);
    font-style: italic;
  }
  a:visited{
    color: rgb(0, 0, 1);
    font-style: italic;
  }
  a:hover{
    color: orange;
  }

footer{
    background-color: #b7cbe2;
    padding: 10px 200px 10px 200px;
    font-style: italic;
    padding: 20px 50px 20px 50px;
    margin: 5px auto 5px auto;
    max-width: 850px;
    border-radius: 10px;
}
